@import "tailwindcss";

.loader {
  height: 4px;
  width: 130px;
  --c: no-repeat linear-gradient(#6100ee 0 0);
  background: var(--c), var(--c), #d7b8fc;
  background-size: 60% 100%;
  animation: loaderAnim 3s infinite;
}

@keyframes loaderAnim {
  0%   { background-position: -150% 0, -150% 0 }
  66%  { background-position: 250% 0, -150% 0 }
  100% { background-position: 250% 0, 250% 0 }
}


.btn {
  padding: 0.75rem;
  margin: 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #ccfbf1; /* bg-teal-100 */
  color: #1e3a8a; /* text-blue-950 */
  transition: opacity 0.3s;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
